.display {
  background: #818693;
  display: flex;
  height: 100px;
  justify-content: flex-end;
  width: 700px;
  color: white;
  font-weight: bold;
  font-size: 50px;
  padding: 20px;
  align-items: center;
}
